.container {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  min-width: 2.375rem;
  min-height: 1.25rem;

  background-color: var(--color-main-500);

  padding-inline: calc(var(--spacing) * 2); /* 0.5rem */
  padding-block: var(--spacing); /* 0.25rem */

  border-radius: 0.525rem;
}

.label {
  color: var(--color-white);
  font-size: var(--text-xs);
  font-weight: var(--font-semibold);
  line-height: var(--line-height-single);
  letter-spacing: var(--letter-spacing);
}