.container {
  width: 100%;
  overflow: hidden;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 345 / 194;
  border-radius: 1.25rem;
  overflow: hidden;
}

.image {
  object-fit: cover;
}