.wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;

  background-color: var(--color-white);
}

.scrollContainer {
  display: inline-flex;
  gap: calc(var(--spacing) * 2); /* 0.5rem */

  padding: 0.75rem 1.5rem;
}