.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.adBannerWrapper {
  margin-bottom: 1rem;
}

.categoryBarWrapper {
  margin-bottom: 0.5rem;
}

.menuListWrapper {
  padding-inline: 0.75rem;
}