.container {
  display: flex;
  position: relative;
  gap: calc(var(--spacing) * 4);

  width: 100%;

  background-color: var(--color-white);
}

.imageWrapper {
  position: relative;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 0.75rem;
  overflow: hidden;
}

.image {
  object-fit: cover;
}

.tagWrapper {
  display: flex;
  gap: var(--spacing); /* 0.25rem */
}

.labelWrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2); /* 0.5rem */

  padding-top: calc(var(--spacing) * 3); /* 0.75rem */
}

.labelWrapperWithTag {
  padding-top: calc(var(--spacing)); /* 0.25rem */
}

.title {
  color: var(--color-black);
  font-size: var(--text-base);
  font-weight: var(--font-semibold);
  line-height: var(--line-height-single);
  letter-spacing: var(--letter-spacing);
}

.price {
  color: var(--color-black);
  font-size: var(--text-sm);
  font-weight: var(--font-medium);
  line-height: var(--line-height-single);
  letter-spacing: var(--letter-spacing);
}

.button {
  position: absolute;
  right: 0;
  bottom: 0.19rem;
}

.soldOut {
  opacity: 0.5;
}
