.container {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  width: 100%;
  height: 100vh;

  max-width: var(--container-3xl);

  padding-top: var(--safe-top);
  padding-bottom: var(--safe-bottom);
  padding-inline: var(--spacing-gutter);

  overflow-y: auto;
  overscroll-behavior-y: contain;
}