.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 3.5rem;
  border-radius: 1rem;
  background-color: var(--color-main);
}

.button:disabled {
  background-color: var(--color-gray-100);
}

.label {
  color: var(--color-white);
  font-size: var(--text-base);
  font-style: normal;
  font-weight: var(--font-bold);
  line-height: var(--line-height-single);
  letter-spacing: var(--letter-spacing);
}