/* Color tokens */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {
  --color-white: #ffffff;

  --color-black: #17171b;
  --color-black-900: #2f2f32;
  --color-black-800: #454549;
  --color-black-700: #5d5d60;
  --color-black-600: #747476;
  --color-black-500: #8a8a8c;
  --color-black-400: #a2a2a4;
  --color-black-300: #d1d1d1;
  --color-black-200: #e8e8e9;

  --color-main: #f55b03;
  --color-main-800: #f77c35;
  --color-main-500: #faad81;
  --color-main-100: #feefe6;

  --color-red: #ff3b3b;
  --color-red-900: #ff5656;

  --color-green: #00ce75;
  --color-green-900: #33d890;

  --color-blue: #0380f5;
  --color-blue-800: #3599f7;
  --color-blue-500: #81c0fa;
  --color-blue-100: #e6f3fe;
}